* {
  margin: 0;
  padding: 0;
}
main {
  width: 1920px;
  min-height: 6970px;
}
.main {
  width: 100%;
  min-height: 1024px;
  background-color: #ffffff;
  background-size: 100%;
  background-image: url(../img/bg_photo_11949.png);
  position: relative;
}
h3 {
  position: absolute;
  width: 100px;
  height: 100px;
  display: block;
  display: flex;
  width: 64px;
  height: 56px;
  color: #ffffff;
}
