@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 200;
	font-display: swap;
	src: local("Montserrat ExtraLight"), local("Montserrat-ExtraLight"),
		url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_aZA7g4.ttf) format("truetype");
}
@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: local("Montserrat Light"), local("Montserrat-Light"),
		url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_cJD7g4.ttf) format("truetype");
}
@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local("Montserrat Regular"), local("Montserrat-Regular"),
		url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm45xW4.ttf) format("truetype");
}
@font-face {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local("Raleway"), local("Raleway-Regular"),
		url(https://fonts.gstatic.com/s/raleway/v14/1Ptug8zYS_SKggPN-Co.ttf) format("truetype");
}
@font-face {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: local("Raleway Medium"), local("Raleway-Medium"),
		url(https://fonts.gstatic.com/s/raleway/v14/1Ptrg8zYS_SKggPNwN4raqE.ttf) format("truetype");
}
@font-face {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: local("Raleway SemiBold"), local("Raleway-SemiBold"),
		url(https://fonts.gstatic.com/s/raleway/v14/1Ptrg8zYS_SKggPNwPIsaqE.ttf) format("truetype");
}
@font-face {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local("Raleway Bold"), local("Raleway-Bold"),
		url(https://fonts.gstatic.com/s/raleway/v14/1Ptrg8zYS_SKggPNwJYtaqE.ttf) format("truetype");
}
@font-face {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 800;
	font-display: swap;
	src: local("Raleway ExtraBold"), local("Raleway-ExtraBold"),
		url(https://fonts.gstatic.com/s/raleway/v14/1Ptrg8zYS_SKggPNwIouaqE.ttf) format("truetype");
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local("Roboto"), local("Roboto-Regular"),
		url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Me5Q.ttf) format("truetype");
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
main {
	width: 1920px;
	min-height: 6970px;
	color: white;
}
header {
	width: 80%;
	padding: 55px;
	width: 100%;
	min-height: 1024px;
	/*background-color: #6667d3;*/
	background-image: url(../img/bg_photo_11949.png);
	box-sizing: border-box;
	background-size: auto;
	clear: both;
}
.logo {
	margin: 0 370px 0 0;
	width: 181px;
	height: 56px;
	display: flex;
	clear: both;
}
h3 {
	font-family: Raleway;
	font-size: 34px;
	line-height: 1.2;
	font-weight: 400;
	letter-spacing: -0.04em;
}
ul .menu li {
	margin: 0;
	padding: 5px;
}
menu li {
	display: inline;
	border: 1px solid black;
}
/*ПРИВЕТ ЭТО ОШИБКА*/
